altgraph==0.16.1
certifi==2018.10.15
chardet==3.0.4
future==0.17.0
idna==2.7
macholib==1.11
packaging==18.0
pefile==2018.8.8
PyInstaller==3.4
pyparsing==2.2.2
PyQt5==5.11.3
PyQt5-sip==4.19.13
PySocks==1.6.8
python-dateutil==2.7.5
requests==2.20.0
sip==4.19.8
six==1.11.0
urllib3==1.24
